.text-baseline {
  vertical-align: baseline;
}

.text-break {
  word-break: break-all;
}

.text-undecoration {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-xs {
  font-size: 10px;
}
